img{
    border-radius: 10%;
}
body{
    font-size: 30px;
    text-align:center;
}
ul{
    text-align: center;
}
li{
    display: inline-block;
    top:5;
    padding-top: 8px;
    padding-right: 30px;
}
nav{
    width: 100%;
    background-color: rgba(41, 48, 15, 1);
    top: 0;
    height: 10%;
    position: fixed;

}
nav>ul>li>a{
    color: antiquewhite;
    padding-right: 10%;
}
nav>ul>li>a:hover{
    color: yellow;
}
.logo{
    display: flex;
    float: left;
    position: fixed;
}
.main{
    padding-top: 70px;
}
.about{
    display: flex;
    justify-content: space-around;
}
.vision{
    background-color: rgb(255, 128, 10,1);
    border-radius: 120px;
      
}
.Mission{
    border-radius: 120px;
    background-color: rgba(255,100,255,1);
}
.vision:hover{
    background-color:rgba(41, 48, 15, 1);
    color: antiquewhite;
}
.Mission:hover{
    background-color: rgba(41, 48, 15, 1);
    color: antiquewhite;
}