body{
    font-size: 30px;
    text-align: center;

}
ul{
    text-align: center;
}
li{
    display: inline-block;
    padding-top: 8px;
    padding-right: 30px;
}
nav>ul>li>a{
    color: antiquewhite;
    background-color: rgba(41, 48, 15,0.5);
}
nav>ul>li>a:hover{
    color: yellow;
}
.logo{
    display: flex;
    float: left;
    position: fixed;
}
nav{
    width: 100%;
    background-color: rgba(41, 48, 15, 1);
    top: 0;
    height: auto;
    position: fixed;

}
.main{
    padding-top:5%;

}
#wall{
    border-radius: 90%;
}
#submain{
    display: flex;
    text-align:inline;
    background-color: rgba(255,100,0.1);
    overflow: inherit;
    padding-bottom: 2%;
    padding-top: 2%;
}
#submain>div>img{
    border-radius: 90%;
}
#last{
    background-color: chocolate;
    padding-top: 2%;
    padding-bottom: 2%;
}
#last:hover{
    background-color:rgba(41, 48, 15, 1); 
    color: antiquewhite;
}
#submain:hover{
    background-color: rgba(41, 48, 15,1);
    color: antiquewhite;
    
}
.mavida{
    padding-top: 100px;
    text-align: left;
    background-color: rgba(41, 48, 15,1);
}
@media screen and (max-width:1024px){
   .logo{
       display: none;
   }
   h1{
       margin-top: 100px;
   }
   #submain{
       display: flex;
       flex-direction: column;
   }
   .mavida{
       display: flex;
       flex-direction: column;
       padding-top: 40%;
   }
   iframe{
       width: 100%;
   }
}
@media screen and (max-width:480px)
{
    #submain{
        display: flex;
        flex-direction: column;
    }
    h1{
        margin-top: 200px;
    }
    .logo{
        display: none;
    }
    .mavida{
        display: flex;
        flex-direction: column;
    }
    iframe{
        height: 100%;
        width: 100%;
        padding-top: 1%;
    }
    #firstm{
        padding-top: 60%;
        border-top-color: aquamarine;
    }

}