body{
    font-size: 30px;
    text-align: center;
}
ul{
    text-align: center;
}
li{
    display: inline-block;
    padding-right: 5%;
    padding-top: 8px;
}
nav>ul>li>a{
    color: antiquewhite;
    background-color: rgba(41, 48, 15,0.5);
}
nav>ul>li>a:hover{
    color: yellow;
}
.logo{
    display: flex;
    float: left;
    position: fixed;
}
nav{
    width: 100%;
    background-color: rgba(41, 48, 15, 1);
    top: 0;
    height: 10%;
    position: fixed;

}
.img{
    border-radius: 80%;
}
#tyler{
    padding-top: 7%;
    background-color:rgba(255,190,10,1); 
}
#teresa{
    background-color: rgba(180,100,50,0.5)
   
}
#maya{
 background-color: aquamarine;
}
#joyce{

}
.joshua{
 background-color: bisque;
}